.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  border: 4px solid rgb(157, 167, 179);
}

.unclicked {
  border: 2px outset rgb(135, 147, 165);
  background-color: rgb(90, 116, 153);
}

.cleared {
  border: 1px solid rgb(135, 147, 165);
  background-color: rgb(157, 167, 179);
}

.cell-img {
  height: 30px;
  width: 30px;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: red;
}

.four {
  color: purple;
}

.five {
  color: maroon;
}

.six {
  color: turquoise;
}

.seven {
  color: black;
}

.eight {
  color: grey;
}
